html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #0c0d1d;
  color: lightgray; */
}

/* section {
  height: 100%;
  width: 100%;
  scroll-snap-align: center;
  overflow: hidden;
} */
a {
  text-decoration: none;
  color: inherit;
}
